html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 150%;
  /* Negative indent footer by it's height */
  margin: 0 auto -110px;
}

/* Set the fixed height of the footer here */
.push,
footer {
  height: 110px;
}

/* Lastly, apply responsive CSS fixes as necessary */
/*@media (max-width: 767px) {
footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

}*/

/*buttons*/

.btn-blue {
  background-color: #77c8cf;
  border-color: #77c8cf;
  opacity: .8;
  color: white;
}

.btn-blue:hover {
  opacity: 1;
}

/* nav bar */

.navbar {
  background-color: #333;  
}

.dropdown.open {
  background-color: #333;
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand, .dropdown,
.header ul li,
footer a {
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #77c8cf;
background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: #77c8cf;
background-color: transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
color: #ffffff;
cursor: pointer;
background-color: #77c8cf;
}


.wrap > .container {
  padding-top: 3em;
}

.header {
  padding: 6em 0 2em;
  color: #fff;
  text-align: center;
  background: -webkit-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
  background: -o-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
  background: -ms-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
  background: -moz-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
  background: linear-gradient(20deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
  background-attachment: fixed;
  background-color: #1c2533;
}

.header header {
  text-align: center;
  font-family: 'ChunkFive';
  font-size: 1.7em;
}

.header ul li {
  display: inline;
  cursor: pointer;
  padding: 1em;
}

.header ul li:hover {
  color: #77c8cf;
}

.top {
  padding: 4em 0 5em;
  background-color: #fff;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.top img {
  margin: 0 auto;
  padding: 3em 0em 3em;
}

.top p {
  font-size: 1.4em;
}

.top article {
  text-align: center;
}

.top article:first-child {
  float: left;
}

.top article:last-child {
  float: right;
}

.how-it-works .container > header {
  text-align: center;
}


.how-it-works {
  background: #F5F5F5;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 1em;
  /*#3b96a7;*/
}

.how-it-works {
    font-size: 2.6em;
}

.how-it-works header {
  font-size: 1em;
  margin-bottom: 1em;
}

.how-it-works article {
  margin-top: .5em;
}


.how-it-works article:last-child {
float: right;
}

.how-it-works article ul li {
  text-decoration: none;
  list-style-type: none;
}


.how-it-works article ul li a {
  font-size: 0.5em;
  color: #000;
}

.how-it-works article ul li a:hover {
  text-decoration: none;
}

.advantages {
  background-color: #fff;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.advantages .container > header {
  text-align: center;
  font-size: .9em;
}

.advantages .container > header {
  font-size: 2.3em;
}

.sign-up {
  background-color: #F2F2F2;
  padding-bottom: 5em;
}

.sign-up .container > header{
  text-align: center;
  font-size: 2.3em;
}

.sign-up article {
  background-color: #fff;
  border: .3em dotted #333;
margin-top: 3em;
  margin-bottom: 3em;
}

.sign-up article header {
  text-align: center;
  padding-bottom: 2em;
}

.sign-up article section {
  text-align: center;
  padding-bottom: 3em;
}

.sign-up article button {
  padding: 35px 75px;
}

footer {
  background-color: #333;
  color: #fff;
  /*opacity: .9;*/
  text-align: center;
}

footer header {
  padding: 1em;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: none;
  color: #77c8cf;
}

footer ul li {
  display: inline;
  list-style-type: none;
}


@font-face {
  font-family: 'OpenSans-Light';
  src: url("fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}

.bold {
  font-family: 'OpenSans-Bold';
}

html,
body, h1, h2, h3, h4 {
  font-family: 'OpenSans-Light';
}

.modal form ul li {
  list-style-type: none;
  margin-left: 0;
}

input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #fff;
  /*border: 1px solid #ccc;*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba(82,168,236,0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

.pointer {
  cursor:pointer;
}

.modal .modal-dialog {
  width: 35em;
}

.modal label, select option, input[type="number"] {
  display: block;
  margin-bottom: 5px;
  font-size: 1.5em;
}

.modal
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  padding: 0 1em;
}


/*ready-to-charge-go.html*/

.init {
  padding-top: 5em;
}

.init .container > header {
  text-align: center;
  padding-bottom: 2em;
  font-size: 2em;
}

.init article {
  text-align: center;
}

.init article img {
  margin: 0 auto;
  border-radius: 50%;
  padding: 2em;
  border: 4px dashed #fff;
}

.init article img:hover {
/*  opacity: .6;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;*/

  /*-webkit-transition: border .3s;
  -moz-transition: border .3s;
  transition: border .3s;
  background-color: #333;*/
  /*opacity: .6;*/
  border: 4px dashed #333;
  
}

/* ready-to-charge.html */

.ready-to-charge {
  padding-top: 6em;
  width: 35%;
}

.ready-to-charge ol {
  list-style: none;
}

.ready-to-charge header {
  text-align: center;
  font-size: 2em;
}

.ready-to-charge ol li:last-child {
  font-size: 1.2em;
  text-align: center;
}

.ready-to-charge .btn-blue {
  margin-top: 2em;
  padding: 1.5em;
}

.timestable table tr td {
  text-align: center;
}

.map {
  height: 40em;
  width: 100%;
  margin-bottom: 4em;
}

.directionsPanel {
  padding-bottom: 3em;
}

/*bookings.html*/

.bookings.container {
  padding-top: 6em;
}

.bookings .nav-tabs li a {
  padding-left: 5em;
  padding-right: 5em;
  color: #585858;
}

.bookings .nav-tabs li a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #fff;
  }

.table th, .bookingsInfo td {
  text-align: center;
}

.progresss {
  padding-top: 6em;
  text-align: center;
}


/* profile.html */

.wrap.profile {
  background: #E5E5E5;
}

.profile-header {
  padding-top: 8em;
  padding-bottom: 1em;
  text-align: center;
  }

.profile-header header h1{
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.5em;
  opacity: .8;
}

.profile-header img {
  max-width: 15%;
  border: 4px solid #fff;
}

.box {
  background: #fff;
  border-top: 5px solid #fff;
  margin-bottom: 3em;
  border-top-color: #77c8cf;
}

.friends-info  {
  text-align: center;
}

.comments-info {
  text-align: center;
}

.routes-info  {
  text-align: center;
}
  
.profile .box header h1 {
  font-size: 1.9em;
}

.profile .box ul li {
  list-style-type: none;
}

.profile .box ul li h5 {
  font-family: 'OpenSans-Bold';
}

.profile .box ul li a {
float: right;
padding-bottom: 1em;
}

.profile .box p {
  font-weight: bold;
}

.profile .box a {
  text-decoration: none;
  cursor: pointer;
}

.modal.profile .modal-header {
  background-color: #77c8cf;
  color: white;
}

.modal.profile .modal-body ul li h5 {
  font-family: 'OpenSans-Bold';
}

.modal.public select {
  float: right;
}


/*Tables properties*/
.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
background-color: #fcf8e3;
border-color: #fbeed5;
color: black;
}

.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
background-color: #dff0d8;
border-color: #d6e9c6;
color: black;
}

.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
background-color: #f2dede;
border-color: #eed3d7;
color: black;
}

@media (max-width: 640px) {

  .top {
    padding: 0; 
  }

  .top img {
    /*padding-top: 3em;
    margin: 0 auto;
    padding-bottom: 3em;*/
  }
}


.form-control:focus {
border-color: #77c8cf;

}

