html,
body {
height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
min-height: 100%;
height: auto !important;
height: 150%;
/* Negative indent footer by it's height */
margin: 0 auto -110px;
}

/* Set the fixed height of the footer here */
.push,
footer {
  height: 110px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

}

.hide {
    display: none;
}

.show {
    display: block;
}

.cursorPointer{
 cursor:pointer;
}

.index .thumbnail:hover {
border-color: #000000;
}

.dropdown-menu li>a:hover,
.dropdown-menu li>a:focus,
.dropdown-submenu:hover>a {
  background-color: #202020;
  background-image: linear-gradient(to bottom,#444,#222);
}

.centeredTitle {
margin-top: 1.3em;
margin-bottom: 1em;
font-size: 5em;
text-align:center;
}

.title {
margin-top: 2em;
}

.progress-striped .bar {
background-color: #181818;
}

.progressBar{
margin-top: 70px;
}

.table th, .timestable td {
text-align: center;
}

.table th, .timetables td {
text-align: center;
}

.newUser {
height:auto;
}

.newUser form ul
{
list-style-type: none;
margin-left: 0;
}

.modal-body {
    max-height: 800px;
}

.ReadyToChargeInformation  {
  font-size: 17px;
}

.ReadyToChargeInformation section {
  margin-top: 35px;
}

.ReadyToChargeInformation .first {
  background-color: #f7f7f7;
  padding: 40px 0;
  font-size: 16px;
  margin-top: 30px;
}

.ReadyToChargeInformation .third {
  background-color: #f7f7f7;
  padding: 20px 0;
}

.ReadyToChargeInformation header {
  margin-bottom: 65px;
  font-size: 55px;
  text-align:center;
}

.ReadyToChargeInformation .container {
  width: auto; 
}

.map img{
  border: solid 3px;
  box-shadow: 0 -1px 1px #000;
}


.readyToGo section {
  margin-top: 50px;
}

.vehicles img {
  border: solid 3px;
  box-shadow: 0 -1px 1px #000;
}

a.thumbnail:hover {
  border-color: #1B1B1B;
}

footer {
  background-color: #1B1B1B;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

#rtcBooking {
  margin-top: 2em;
}

#map_canvas {
  height: 300px;
  width: 300px;
}


.readyToChargeBookings .nav-tabs li a {
  padding-left: 70px;
  padding-right: 70px;
  color: #585858;
}

.readyToChargeBookings .nav-tabs li a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  border-color: #585858;
  }

  .table th, .bookingsInfo td {
text-align: center;
}