html,
body {
height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
min-height: 100%;
height: auto !important;
height: 150%;
/* Negative indent footer by it's height */
margin: 0 auto -110px;
}

/* Set the fixed height of the footer here */
.push,
.footer {
  height: 110px;
}
.footer {
background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
.footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

.hide {
    display: none;
}

.cursorPointer{
 cursor:pointer;
}


.informationRows{
margin-left: 90px;
}

.informationRows .thumbnail:hover {
border-color: #000000;
}

.footer {
color:white;
}

.footer a {
color:white;
}

.centeredTitle {
margin-top: 55px;
margin-bottom: 35px;
font-size: 55px;
text-align:center;
}

.title {
margin-top: 60px;
}

.progress-striped .bar {
background-color: #181818;
}

.progressBar{
margin-top: 70px;
}

.table th, .timetables td {
text-align: center;
}

.newUser {
height:auto;
}

.newUser form ul
{
list-style-type: none;
margin-left: 0;
}

.modal-body {
    max-height: 800px;
}


