<!DOCTYPE html>
<html lang="es">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <meta charset="utf-8">
  <title>ReadyToCharge&amp;GO</title>
  <meta name="description" content="Ready To Charge And Go!">
  <meta name="aitor" content="">
  <link rel="shortcut icon" type="image/x-icon" href="static/img/chargeimg.png">
  <!-- Le Styles -->
  <link href="static/bootswatch/bootstrap-min.css" rel="stylesheet">
  <link href="static/bootswatch/bootstrap.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/main.css" type="text/css">

</head>

<body>
      <div class="wrap">

      <div class="navbar navbar-default navbar-fixed-top">
          <div>
            <div class="navbar-header">
              <a href="../" class="navbar-brand">ReadyToCharge&Go</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav">
                <li style="display:none;"><a href="ready-to-charge-go.html">Haz una reserva</a></li>
                <li style="display:none;"><a href="bookings.html">Mis Reservas</a></li>
              </ul>
               <ul class="nav navbar-nav navbar-right">
                <li style="display:none;"><a id="sign-in-nav" class="pointer">Nuevo usuario</a></li>
                <li style="display:none;"><a id="login-nav" class="pointer">Iniciar sesión</a></li>
                <li class="dropdown"style="display:none;":>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown-text">apalzab</a>
                  <ul class="dropdown-menu" aria-labelledby="download">
                    <li class="disabled"><a>Modificar perfil</a></li>
                    <li class="divider"></li>
                    <li id="log-out"><a>Cerrar sesión</a></li>
                  </ul>
               </li>
          </div>
        </div>
      </div>

      <!-- bookings -->
      <section class="bookings container">
        <h1 class="title">Mis Reservas</h1>
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#readytocharge" data-toggle="tab">ReadyToCharge</a></li>
          <li><a href="#readytogo" data-toggle="tab">ReadyToGo</a></li>
          <li><a href="#myBill" data-toggle="tab">Mi factura</a></li>
          <li><a href="#points" data-toggle="tab">Puntos</a></li>
          <li><a href="#statistics" data-toggle="tab">Estadísticas</a></li>
        </ul>
         <div id="my-tab-content" class="tab-content">

             <div class="tab-pane active" id="readytocharge">
                <table class="table bookingsInfo">
                    <thead>
                        <tr>
                            <th><h4><strong>Estación de servicio</strong></h4></th>
                            <th><h4><strong>Tipo de vehículo</strong></h4></th>
                            <th><h4><strong>Fecha</strong></h4></th>
                            <th><h4><strong>¿Has realizado la recarga?</strong></h4></th>
                            <th><h4><strong>¿Puedes cancelar la recarga?</strong></h4></th>
                        </tr>
                    </thead>
                </table>
             </div>

             <script id="rtcBookingsTemplate" type="text/x-jQuery-tmpl">
                     {{if served == 'true'}}
                        <tr class="success">
                            <td>${chargeStation}</td>
                            <td>${chargeType}</td>
                            <td>${date}</td>
                            <td><span class="badge badge-success">Sí</span></td>
                        {{else}}
                            <tr class="warning">
                            <td>${chargeStation}</td>
                            <td>${chargeType}</td>
                            <td>${date}</td>
                            <td><span class="badge badge-warning">No</span></td>
                    {{/if}}
                    {{if cancellable == 'true'}}
                        <td><button class="btn btn-danger btn-xs" data-booking_id=${bookingId}>Cancelar</button></td>
                        {{else}}
                        <td><span class="badge badge-warning">No</span></td>
                    {{/if}}
                    </tr>
             </script>
            <div class="tab-pane" id="readytogo">
                <table class="table">
                    <tr class="danger">
                        <td>Servicio no disponible</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="myBill">
                <table class="table">
                    <tr class="danger">
                        <td>Servicio no disponible</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="points">
                <table class="table">
                    <tr class="danger">
                        <td>Servicio no disponible</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="statistics">
                <table class="table">
                    <tr class="danger">
                        <td>Servicio no disponible</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
      </section>

      <div class="push"></div>

    </div> <!--wrap-->

  <!--footer-->
  <footer>
        <div class="col-lg-3 col-lg-offset-1">
          <h4>Compañía</h4>
          <ul>
            <li><a href="http://aitorpalacios.com/" target="_blank">Contacto / About me</a></li>
            <li></li>
          </ul>
         </div>
        <div class="col-lg-3 col-lg-offset-1">
          <h4>Más Información</h4>
          <ul>
            <li><a href="others/help.html">Ayuda</a></li>
            <li><a href="others/faq.html">FAQ</a></li>
            <li><a href="others/support.html">Soporte</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-lg-offset-1">
            <h4>Síguenos</h4>
            <ul>
              <li><a href="http://github.com/apalzab" target="_blank">Github</a></li>
              <li><a href="http://es.linkedin.com/pub/aitor-palacios-zabala/69/bb8/ab1" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
  </footer>

    <!-- Bootstrap dependencies -->
    <script src="static/bootstrap-3/js/transition.js"></script>
    <script src="static/bootstrap-3/js/modal.js"></script>
    <script src="static/bootstrap-3/dist/js/bootstrap.min.js"></script>

    <script src="static/js/jquery.md5.js"></script>
    <script src="static/js/cookie.js"></script>
    <script src="static/js/login.js"></script>
    <script src="static/js/jquery.tmpl.js"></script>
    <script src="static/js/bookings.js"></script>
    <!--[if lt IE 9]-->
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><style type="text/css"></style>
</body>
</html>